<h2>Formular adaugare status</h2>

<form method="post" action="/Statuses/New">
    <label>Nume</label>
    <br />
    <input type="text" name="Name" />
    <br /><br />
    <label>Culoare</label>
    <br />
    <input type="color" name="Color" />
    <br /><br />
    <button type="submit">Adauga status</button>
</form>