@{
    ViewBag.Title = "Lista echipelor";
}

<h2>@ViewBag.Title</h2>
<br />

<br />
<br />

@foreach (var team in ViewBag.Teams)
{
    <p>@team.Name</p>
    @if (team.Projects != null)
    {

        @foreach (var project in team.Projects)
        {
            <p>@project.Name</p>
            <p>@project.Description</p>
            <a href="/Projects/Show/@project.ProjectId">Afisare proiect</a>
            <br />
            <hr />
            <br />
        }

    }

    <a class="btn" href="/Teams/Show/@team.TeamId">Vizualizare echipa</a>
    <br />
    <hr />
    <hr />
    <br />
}
<br />
<a class="btn btn-success" href="/Teams/New">Adauga o noua echipa</a>
<br />