<h2>Formular adaugare echipa</h2>

<form method="post" action="/Teams/New">
    <label>Nume</label>
    <br />
    <input type="text" name="Name" />
    <br /><br />
    <button type="submit">Adauga echipa</button>
</form>